stages:
  - test
  - build

image: python:3.12

before_script:
  - echo "Setting up environment"
  - pip install --upgrade pip
  - pip install hatch

test_job:
  stage: test
  script:
    - echo "Running tests"
    - hatch test -c
  coverage: '/\s+(\d+%)$/'

build_and_display:
  stage: build
  script:
    - echo "Déloiement d'une nouvelle version taguée"
    - hatch build
    - echo "Contenu du dossier dist/:"
    - ls -l dist/
  only:
    - tags